.status {
    padding: .4em 2em;
    border: 1px solid #F29619;
}

.media-heading {
    max-width: 390px;
}

.media-body {
    max-width: 640px;
    margin: 1em .5em;
}

.bg-orange {
    background-color:#F29619;
    border: 2px solid #e28708;
    border-radius: 0!important;
    margin-right: 1em!important;
}

.card-body {
    padding-top: 2px!important;
    padding-bottom: 2px!important;
}

.media-body .btn-primary {
    background-color: hsl(187, 89%, 35%)!important;/*#84B4DF*/
    border: 1px solid hsl(187, 17%, 39%)!important;
    text-transform: uppercase;
    border-radius: 0!important;
}

.media-body .card {
    border: 1px solid hsl(187, 89%, 35%)!important;
    border-radius: 0!important;
}