body{
    background-color: #FBFBFB;
}

.container h1, h2{
    text-align: center;
    /* background-color: red; */
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: .5em 0;
}

.container h1 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 100;
    color: #6d6d6d;
}

.container h2 {
    font-size: 20px;
    font-weight: 500;
    color: #3f3d3d;
}

.trait_dessus {
    border-bottom: .1em solid #9e9595;
    width: 10em;
    margin: 0 auto;
}

.activity_table table{
    background-color: #FFFF;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    border-collapse: collapse;
}

.activity_table table caption ul{
    display: inline-block;
    text-align: left;
}

.activity_table table caption ul li{
    list-style: none;
    padding: .3em;
    font-size: 15px;
}

.activity_table table caption ul li span {
    font-weight: 600;
}

.fa-hand-point-right {
    color:#F5A435;
    padding-right: 1em;
}

.table_header th{
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: 2px solid #CDCDCD;
    width:20%;
    color: #F5A435;
}


.content_table {
    border-top: 1px solid #BEBEBE; 
}

.content_table td{
    text-align: center;
}

.content_table td ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content_table td ul li {
    padding-right: 1em;
}

/**
*Liste commit class
*********************/

.list_commit h1{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 0;
}

.trait_orange {
    background-color: #F29619;
    height: .2em;
    width: 2.6em;
}

.list_commit .add {
    background-color: #D5D5D5;
    margin-top: 1em;
    height: 6em;
    width: 6em;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.fa-plus {
    color: #F29619;
    transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    -ms-transform: scale(3, 3);
    -moz-transform: scale(3, 3);
}

.trait_horizontal, .trait_vertical{
    display: inline-block;
    background-color: #F29619;
    width: 2.6em;
    height: 5px;
    border-radius: 4px;
}

.trait_horizontal {
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -moz-transform: translateY(3px);
}

.trait_vertical{
    transform: rotate(90deg) translateX(-12px);
    -webkit-transform: rotate(90deg) translateX(-12px);
    -ms-transform: rotate(90deg) translateX(-12px);
    -moz-transform: rotate(90deg) translateX(-12px);
}
